## IMPORTS

In [484]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping

## DATA LOADING

In [486]:
df = pd.read_csv('./weatherAUS.csv')

In [487]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

## ANALYZING DATA

In [489]:
df.shape

(145460, 23)

In [490]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [491]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [492]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

## TRANSFORMING DATA

In [494]:
## CONVERTING 'Yes' and 'No' into 0 and 1

In [495]:
class_mapping = {
    'Yes': 1,
    'No': 0
}

In [496]:
df['RainTomorrow'] = df['RainTomorrow'].map(class_mapping)
df['RainTomorrow'] = df['RainTomorrow'].fillna(df['RainTomorrow'].mode()[0])

In [497]:
df['RainToday'] = df['RainToday'].map(class_mapping)
df['RainToday'] = df['RainToday'].fillna(df['RainToday'].mode()[0])

In [498]:
## REMOVING NULL VALUES

In [499]:
def fill_na(col):
    if pd.api.types.is_numeric_dtype(col):
        return col.fillna(col.mean())
    return col.fillna(col.mode()[0])

df_filled = df.apply(fill_na, axis=0)

In [500]:
## LABEL ENCODING THE COLMNS

In [501]:
label_encoder = preprocessing.LabelEncoder()

In [502]:
df_filled['WindGustDir']= label_encoder.fit_transform(df_filled['WindGustDir'])

In [503]:
df_filled['WindDir9am']= label_encoder.fit_transform(df_filled['WindDir9am'])

In [504]:
df_filled['WindDir3pm']= label_encoder.fit_transform(df_filled['WindDir3pm'])

In [505]:
df_filled['Location']= label_encoder.fit_transform(df_filled['Location'])

In [506]:
## DROPPING UNNECESSARY COLUMNS

In [507]:
df_filled.drop("Date", axis='columns', inplace=True)

## MODEL TRAINING

In [509]:
X = df_filled.drop(columns=['RainTomorrow'])
y = df_filled['RainTomorrow']

In [510]:
## SPLITTING DATA

In [511]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [512]:
## FEATURE SCALING

In [513]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [514]:
## INITIALIZING MODEL

In [515]:
model = Sequential([
    Dense(128, activation='relu', input_dim=X_train.shape[1]),
    Dropout(0.4),
    Dense(64, activation='relu'),
    Dropout(0.3),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

C:\Users\User\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [516]:
## TRAINIG MODEL

In [517]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 928us/step - accuracy: 0.8268 - loss: 0.3952 - val_accuracy: 0.8463 - val_loss: 0.3583
Epoch 2/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 935us/step - accuracy: 0.8468 - loss: 0.3599 - val_accuracy: 0.8478 - val_loss: 0.3554
Epoch 3/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 951us/step - accuracy: 0.8461 - loss: 0.3576 - val_accuracy: 0.8496 - val_loss: 0.3523
Epoch 4/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 885us/step - accuracy: 0.8496 - loss: 0.3528 - val_accuracy: 0.8492 - val_loss: 0.3516
Epoch 5/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 874us/step - accuracy: 0.8502 - loss: 0.3489 - val_accuracy: 0.8500 - val_loss: 0.3507
Epoch 6/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 885us/step - accuracy: 0.8499 - loss: 0.3500 - val_accuracy: 0.8499 - val_loss: 0.3511
Epoch 7/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 873us/step - accuracy: 0.8503 - loss: 0.3484 - val_accuracy: 0.8494 - val_loss: 0.3496
Epoch 8/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 904us/step - accuracy: 0.8490 - loss: 0.3516 - val_accuracy: 0.8496 - val_loss: 0.3480
Epoch 9/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 881us/step - accuracy: 0.8505 - loss: 0.3493 - val_accuracy: 0.8525 - val_loss: 0.3473
Epoch 10/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 880us/step - accuracy: 0.8522 - loss: 0.3439 - val_accuracy: 0.8530 - val_loss: 0.3489
Epoch 11/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 910us/step - accuracy: 0.8524 - loss: 0.3437 - val_accuracy: 0.8519 - val_loss: 0.3463
Epoch 12/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 5s 875us/step - accuracy: 0.8498 - loss: 0.3472 - val_accuracy: 0.8516 - val_loss: 0.3470
Epoch 13/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 897us/step - accuracy: 0.8520 - loss: 0.3416 - val_accuracy: 0.8520 - val_loss: 0.3455
Epoch 14/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 863us/step - accuracy: 0.8533 - loss: 0.3408 - val_accuracy: 0.8518 - val_loss: 0.3469
Epoch 15/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 895us/step - accuracy: 0.8529 - loss: 0.3411 - val_accuracy: 0.8531 - val_loss: 0.3450
Epoch 16/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 883us/step - accuracy: 0.8538 - loss: 0.3436 - val_accuracy: 0.8535 - val_loss: 0.3453
Epoch 17/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 952us/step - accuracy: 0.8534 - loss: 0.3397 - val_accuracy: 0.8523 - val_loss: 0.3450
Epoch 18/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 905us/step - accuracy: 0.8556 - loss: 0.3402 - val_accuracy: 0.8522 - val_loss: 0.3440
Epoch 19/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 909us/step - accuracy: 0.8526 - loss: 0.3449 - val_accuracy: 0.8528 - val_loss: 0.3438
Epoch 20/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 902us/step - accuracy: 0.8534 - loss: 0.3423 - val_accuracy: 0.8520 - val_loss: 0.3462
Epoch 21/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 886us/step - accuracy: 0.8555 - loss: 0.3383 - val_accuracy: 0.8535 - val_loss: 0.3463
Epoch 22/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 5s 903us/step - accuracy: 0.8551 - loss: 0.3404 - val_accuracy: 0.8537 - val_loss: 0.3446
Epoch 23/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 888us/step - accuracy: 0.8555 - loss: 0.3391 - val_accuracy: 0.8519 - val_loss: 0.3451
Epoch 24/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 911us/step - accuracy: 0.8539 - loss: 0.3422 - val_accuracy: 0.8539 - val_loss: 0.3459
Epoch 25/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 907us/step - accuracy: 0.8541 - loss: 0.3415 - val_accuracy: 0.8514 - val_loss: 0.3470
Epoch 26/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 889us/step - accuracy: 0.8560 - loss: 0.3404 - val_accuracy: 0.8523 - val_loss: 0.3455
Epoch 27/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 929us/step - accuracy: 0.8546 - loss: 0.3402 - val_accuracy: 0.8515 - val_loss: 0.3478
Epoch 28/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 881us/step - accuracy: 0.8523 - loss: 0.3404 - val_accuracy: 0.8530 - val_loss: 0.3436
Epoch 29/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 895us/step - accuracy: 0.8528 - loss: 0.3392 - val_accuracy: 0.8530 - val_loss: 0.3476
Epoch 30/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 905us/step - accuracy: 0.8548 - loss: 0.3389 - val_accuracy: 0.8534 - val_loss: 0.3416
Epoch 31/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 908us/step - accuracy: 0.8542 - loss: 0.3400 - val_accuracy: 0.8531 - val_loss: 0.3416
Epoch 32/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 903us/step - accuracy: 0.8569 - loss: 0.3366 - val_accuracy: 0.8523 - val_loss: 0.3432
Epoch 33/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 893us/step - accuracy: 0.8512 - loss: 0.3425 - val_accuracy: 0.8526 - val_loss: 0.3415
Epoch 34/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 933us/step - accuracy: 0.8535 - loss: 0.3399 - val_accuracy: 0.8548 - val_loss: 0.3421
Epoch 35/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 887us/step - accuracy: 0.8544 - loss: 0.3389 - val_accuracy: 0.8513 - val_loss: 0.3428
Epoch 36/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 912us/step - accuracy: 0.8569 - loss: 0.3327 - val_accuracy: 0.8532 - val_loss: 0.3447
Epoch 37/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 907us/step - accuracy: 0.8554 - loss: 0.3367 - val_accuracy: 0.8524 - val_loss: 0.3423
Epoch 38/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 894us/step - accuracy: 0.8574 - loss: 0.3356 - val_accuracy: 0.8527 - val_loss: 0.3422
Epoch 39/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 889us/step - accuracy: 0.8551 - loss: 0.3366 - val_accuracy: 0.8538 - val_loss: 0.3434
Epoch 40/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 935us/step - accuracy: 0.8539 - loss: 0.3369 - val_accuracy: 0.8536 - val_loss: 0.3428
Epoch 41/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 895us/step - accuracy: 0.8578 - loss: 0.3343 - val_accuracy: 0.8545 - val_loss: 0.3449
Epoch 42/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 899us/step - accuracy: 0.8574 - loss: 0.3347 - val_accuracy: 0.8531 - val_loss: 0.3427
Epoch 43/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 912us/step - accuracy: 0.8566 - loss: 0.3375 - val_accuracy: 0.8539 - val_loss: 0.3419
Epoch 44/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 889us/step - accuracy: 0.8557 - loss: 0.3357 - val_accuracy: 0.8519 - val_loss: 0.3431
Epoch 45/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 928us/step - accuracy: 0.8564 - loss: 0.3363 - val_accuracy: 0.8551 - val_loss: 0.3424
Epoch 46/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 896us/step - accuracy: 0.8555 - loss: 0.3358 - val_accuracy: 0.8534 - val_loss: 0.3439
Epoch 47/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 906us/step - accuracy: 0.8560 - loss: 0.3356 - val_accuracy: 0.8543 - val_loss: 0.3409
Epoch 48/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 924us/step - accuracy: 0.8564 - loss: 0.3343 - val_accuracy: 0.8553 - val_loss: 0.3404
Epoch 49/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 919us/step - accuracy: 0.8568 - loss: 0.3342 - val_accuracy: 0.8540 - val_loss: 0.3432
Epoch 50/50
2910/2910 ━━━━━━━━━━━━━━━━━━━━ 3s 935us/step - accuracy: 0.8562 - loss: 0.3354 - val_accuracy: 0.8567 - val_loss: 0.3415

In [518]:
loss, accuracy = model.evaluate(X_test, y_test)

910/910 ━━━━━━━━━━━━━━━━━━━━ 1s 565us/step - accuracy: 0.8484 - loss: 0.3427

In [519]:
loss, accuracy

(0.34194260835647583, 0.8502681255340576)